@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Padauk:wght@400;700&display=swap');

body,*{
    font-family: "Enriqueta", "Nunito Sans", "Padauk";
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: wheat;
}

p,*{
    font-family: "Padauk";
    font-size: 25px;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

h1, * {
  font-family: "Enriqueta";
    font-size: 90px;
    padding: 0px 100px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;


}

h2, * {
  font-family: "Enriqueta";
  font-size: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;

}

.post-img {
  display: block;
  width: 50vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding:5px 0px 20px;
}

.background--custom {
      background: repeating-linear-gradient(90deg, #70194a, #d14578, #ea669b, #f7b1e8, hsl(320, 67%, 82%));
      background-size: 300% 300%;
      background-attachment: fixed;


      animation: gradient 6s alternate infinite;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
        z-index: -1;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }


